/* src/components/Notification/Notification.scss */
.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .notification {
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    animation: slideIn 0.5s forwards;
  }
  
  .notification--success {
    background-color: #48bb78; /* Verde */
  }
  
  .notification--error {
    background-color: #f56565; /* Rojo */
  }
  
  .notification--info {
    background-color: #4299e1; /* Azul */
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  