// src/components/Login/Login.scss
@import '../sass/colors';
@import '../sass/global';

.login {
  margin-top: 2rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      display: flex;
      flex-direction: column;
      font-weight: 500;
    }

    input {
      padding: 0.5rem;
      border: 1px solid $gray-300;
      border-radius: 4px;
    }
  }
}
